# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.env
.venv
venv/

# CDK and build artifacts
cdk.out/
build/
htmlcov/
*.log
*.tmp

# IDEs
.idea/
.vscode/

# Test & coverage
.pytest_cache/
.coverage
coverage.xml

# OS
.DS_Store

# Learning
learning/
notes/
.secrets
.sops.yaml
scratch.py
sonar-local.properties


.VSCodeCounter/
.aws-sam/
.markdownlint.json
IMPLEMENTATION_PLAN.md
PHASE1_TASKS.md
docs/
moments_app/REFACTOR_PLAN.md
layers/common/python/
gitignore
