name: Deploy CDK

# Prevent overlapping deploys
concurrency:
  group: deploy-${{ github.ref }}
  cancel-in-progress: false

on:
  workflow_run:
    workflows: ['Build']
    types: [completed]
jobs:
  deploy:
    env:
      AWS_REGION: us-east-1
      MOMENTS_APP_STACK_NAME: MomentsAppStack
      POETRY_VERSION: ""
      PYTHON_VERSION: ""

    environment: dev
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Read versions
        run: |
          echo "PYTHON_VERSION=$(awk '/^python /{print $2}' .tool-versions)" >> $GITHUB_ENV
          echo "POETRY_VERSION=$(awk '/^poetry /{print $2}' .tool-versions)" >> $GITHUB_ENV

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: poetry
          cache-dependency-path: poetry.lock
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{env.POETRY_VERSION}}
      - name: Install Python deps (includes aws-cdk-aws-lambda-python-alpha)
        run: poetry install --no-interaction --no-root

      - name: CDK Synth
        uses: scottbrenner/aws-cdk-action@v1.6.0
        with:
          args: synth

      - name: CDK Deploy Stack
        uses: scottbrenner/aws-cdk-action@v1.6.0
        with:
          args: deploy ${{ env.MOMENTS_APP_STACK_NAME }} --require-approval never
