name: Deploy CDK

env:
  AWS_REGION: us-east-1

on:
  workflow_dispatch:
    inputs:
      stack_name:
        description: CDK stack to deploy
        default: MomentsAppStack
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: CDK Synth
        uses: scottbrenner/aws-cdk-action@v1.6.0
        with:
          args: synth

      - name: CDK Deploy Stack
        uses: scottbrenner/aws-cdk-action@v1.6.0
        with:
          args: deploy ${{ inputs.stack_name }} --require-approval never
